body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    animation: colorChange 10s infinite;
}

h1 {
    font-size: 3em;
    color: #ff1493;
    text-shadow: 2px 2px 5px #ff69b4;
    padding: 50px;
    grid-column: span 5;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
}

.rhyme-container {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.4s ease;
}

.rhyme-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.rhyme-title {
    font-size: 2em;
    color: #32cd32;
    margin-bottom: 10px;
}

.lyrics {
    display: none;
    font-size: 1.2em;
    color: #000;
    line-height: 1.5;
    margin-top: 10px;
}

.rhyme-title {
    font-size: 1.5em;
    color: #32cd32;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 8px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.rhyme-title:hover {
    background-color: #d0f0c0;
}

.rhyme-container {
    margin-bottom: 20px;
}

@keyframes colorChange {
    0% { background-color: #f0f8ff; }
    50% { background-color: #4cedff; }
    100% { background-color: #f0f8ff; }
}

.components{
    width: 100%;
}

#twinkle {
    grid-area: 2 / 2 / 3 / 5;
}
#row {
    grid-area: 3 / 2 / 4 / 5;
}
#baa {
    grid-area: 4 / 2 / 5 / 5;
}
#johny {
    grid-area: 5 / 2 / 6 / 5;
}
#wheels{
    grid-area: 6 / 2 / 7 / 5;
}

.stars {
    grid-area: 2 / 5 / 3 / 6;
}
.boat {
    grid-area: 3 / 1 / 4 / 2;
}
.boat img {
    grid-area: 3 / 1 / 4 / 2;
    width: 80%;
    position: relative;
    transition: transform 3s ease;
}

.boat img:hover {
    transform: translateX(-100px) scale(1.2);
}

.sheep {
    grid-area: 4 / 5 / 5 / 6;
}

.sheep img {
    width: 80%;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.sheep img:hover {
    transform: translateY(-20px);
}

.stars img {
    width: 80%;
    transition: transform 0.3s ease;
}

.stars img:hover {
    transform: scale(1.3) rotate(360deg);
}

.johny {
    grid-area: 5 / 1 / 6 / 2;
}
.johny img {
    grid-area: 3 / 1 / 4 / 2;
    width: 80%;
    position: relative;
    transition: transform 3s ease;
}
.johny img:hover {
    transform: scale(1.3) rotate(360deg);
}

.wheels{
    grid-area: 6 / 5 / 7 / 6;
}
.wheels img {
    margin-left: 0;
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
    position: relative;
    transition: transform 3s ease;
}
.wheels img:hover {
    transform: translateX(100px);
}


