body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    padding: 50px;
    animation: colorChange 10s infinite;
}

h1 {
    font-size: 3em;
    color: #ff1493;
    text-shadow: 2px 2px 5px #ff69b4;
    padding-bottom: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rhyme-container {
    width: 60%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.4s ease;
}

.rhyme-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.rhyme-title {
    font-size: 2em;
    color: #32cd32;
    margin-bottom: 10px;
}

.lyrics {
    display: none; /* Hide the lyrics initially */
    font-size: 1.2em;
    color: #000;
    line-height: 1.5;
    margin-top: 10px;
}

.rhyme-title {
    font-size: 1.5em;
    color: #32cd32;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 8px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.rhyme-title:hover {
    background-color: #d0f0c0;
}

.rhyme-container {
    margin-bottom: 20px;
}

/* Animation for background change */
@keyframes colorChange {
    0% { background-color: #f0f8ff; }
    50% { background-color: #4cedff; }
    100% { background-color: #f0f8ff; }
}